
<p *ngIf="account">{{account.solde}}</p>
<p>Somme des débits : {{stat["debit"]}}</p>
<p>somme des crédits : {{stat["credit"]}}</p>

<form (submit)="add(newOperation) ">
<input type="text" [(ngModel)]="newOperation.montant" [ngModelOptions]="{standalone: true}" placeholder="ajouter une opération">
<button>ajouter</button>
</form>
<table class='is-responsive table'>
  <thead>
    <tr>
  <th>Crédit</th>
  <th>Débit</th>
  <th>Date</th>
</tr>
</thead>
<tbody>
  <tr *ngFor='let operation of operations'>
    <td *ngIf='operation.montant>0'>{{operation.montant}}</td>
    <td *ngIf='operation.montant>0'></td>

    <td *ngIf='operation.montant<0'></td>
    <td *ngIf='operation.montant<0'>{{operation.montant}}</td>

    <td>{{operation.date.timestamp| dateFromApi| date:"d/M/y - HH:mm"}}</td>
   
    <td><button (click)='remove(operation)'>Remove</button></td>

<form (submit)="add(newOperation)">
  <input type="text" [(ngModel)]="newOperation.montant" [ngModelOptions]="{standalone: true}" placeholder="ajouter une opération">
  <button>ajouter</button>
</form>